*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-color: transparent;
}
body::-webkit-scrollbar {
  width: 0;
}
@media (pointer: fine) {
  body {
    scrollbar-width: thin;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

fieldset {
  border: none;
  padding-inline: 0;
  padding-block: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -3%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

button {
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Onest";
  src: url("../assets/fonts/Onest-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../assets/fonts/Onest-VariableFont_wght.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  color: #1f1d1c;
  font-family: "Onest", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.socials a {
  background-color: rgba(232, 222, 203, 0.05);
  border: none;
  border-radius: 999px;
  box-shadow: inset 0 0 0 1px rgba(232, 222, 203, 0.2);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 770px) {
  .socials a {
    gap: 10px;
  }
}
.socials a img {
  width: 20px;
  height: 20px;
}
.socials a:nth-child(2) img {
  width: 24px;
  height: 15px;
}
.socials a:nth-child(3) img {
  width: 22px;
  height: 18px;
}

.btn {
  font-size: 16px;
  padding: 24px 22px;
  border: none;
  border-radius: 999px;
  text-wrap: nowrap;
  cursor: pointer;
}
@media (max-width: 770px) {
  .btn {
    font-size: 14px;
    padding: 24px 18px;
  }
}

.btn-light {
  background-color: #e2dfd9;
  color: #544945;
}

.btn-dark {
  background-color: #544945;
  color: #e2dfd9;
}

[role=switch] {
  appearance: none;
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 6px;
  background-color: #e2dfd9;
  position: relative;
  cursor: pointer;
}
[role=switch]::after {
  content: url("../assets/image/icons/checkbox-icon.svg");
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4px;
}
[role=switch]:checked::after {
  content: "";
}

.header {
  position: fixed;
  z-index: 1000;
  background: transparent;
  min-width: 100%;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0;
  transition: all 0.5s ease;
}
.header__content {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 1324px) {
  .header__logo {
    flex-grow: 0;
  }
}
.header__logo img {
  min-width: 198px;
  width: 198px;
  height: 24px;
}
@media (max-width: 540px) {
  .header__logo img {
    min-width: 133px;
    width: 133px;
    height: 16px;
  }
}
.header__nav {
  width: fit-content;
}
@media (max-width: 1324px) {
  .header__nav {
    display: none;
  }
}
.header__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  color: #e2dfd9;
  font-size: 16px;
}
.header__nav li {
  position: relative;
  transition: all 0.5s ease;
}
.header__nav li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  text-wrap: nowrap;
  width: max-content;
}
.header__nav li a img {
  transition: all 0.5s ease;
  margin-right: 6px;
  width: 14px;
  height: 8px;
}
.header__nav li:hover .header__category-list {
  display: block;
}
.header__nav li:hover img {
  transform: rotate(180deg);
}
.header__category-list {
  display: none;
  position: absolute;
  padding-top: 18px;
  margin-left: -10px;
}
.header__category-list ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  padding: 6px;
  background-color: #e2dfd9;
  border: none;
  border-radius: 24px;
}
.header__category-list ul li {
  transition: all 0.5s ease;
  width: 100%;
}
.header__category-list ul li:hover {
  background-color: #ebe9e5;
  border: none;
  border-radius: 999px;
}
.header__category-list ul a {
  color: #544945;
  padding: 12px 16px;
}
.header__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1324px) {
  .header__contacts {
    flex-grow: 2;
  }
}
@media (max-width: 540px) {
  .header__contacts {
    display: none;
  }
}
.header__contacts-base {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}
@media (max-width: 1324px) {
  .header__contacts-base {
    display: none;
  }
}
.header__contacts-base .header__phone {
  cursor: pointer;
  position: relative;
}
.header__contacts-base .header__phone a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
  gap: 16px;
  color: #e2dfd9;
  font-size: 16px;
  font-weight: 600;
  text-wrap: nowrap;
  width: max-content;
}
.header__contacts-base .header__phone .socials a {
  background-color: #544945;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__contacts-base .header__phone .arrow {
  height: 8px;
  transition: all 0.5s ease;
}
.header__contacts-base .header__phone:hover .header__contacts-list {
  display: block;
}
.header__contacts-base .header__phone:hover .arrow {
  transform: rotate(180deg);
}
.header__contacts-base a {
  color: rgba(226, 223, 217, 0.7);
  font-size: 16px;
}
.header__contacts-base .header__contacts-list {
  display: none;
  position: absolute;
  padding-top: 10px;
  right: 0;
  cursor: default;
}
.header__contacts-base .header__contacts-list ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  padding: 6px;
  background-color: #e2dfd9;
  border: none;
  border-radius: 24px;
}
.header__contacts-base .header__contacts-list ul li {
  transition: all 0.5s ease;
  padding: 12px 16px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  border-bottom: 1px solid #c0bbb5;
}
.header__contacts-base .header__contacts-list ul li:last-child {
  border-bottom: none;
}
.header__contacts-base .header__contacts-list ul a {
  color: #544945;
}
.header__contacts-base .header__contacts-list ul p {
  text-wrap: nowrap;
  color: #8d8580;
  font-size: 14px;
}
.header__contacts-base .header__contacts-list ul .contacts__social-list a {
  padding: 10px;
}
.header__contacts-action {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-items: center;
  gap: 12px;
}
.header__contacts-action button {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1px rgba(232, 222, 203, 0.2);
  border: none;
  border-radius: 999px;
  background-color: rgba(232, 222, 203, 0.05);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  cursor: pointer;
}
.header__burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  flex-direction: column;
  position: relative;
  background-color: transparent;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
  flex-grow: 0;
  gap: 4px;
  transform: translate(-2px, -1px);
}
@media (max-width: 1324px) {
  .header__burger {
    display: flex;
  }
}
@media (max-width: 540px) {
  .header__burger {
    height: 12px;
  }
}
.header__burger span {
  width: 32px;
  min-height: 2px;
  background-color: #e2dfd9;
  position: relative;
  transition: all 0.5s ease;
}
@media (max-width: 540px) {
  .header__burger span {
    width: 20px;
  }
}
.header__burger.burger-open span:first-child {
  top: 11px;
  transform: rotate(45deg);
}
.header__burger.burger-open span:nth-child(2) {
  display: none;
}
.header__burger.burger-open span:last-child {
  bottom: 11px;
  transform: rotate(-45deg);
}
.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e2dfd9;
  inset: 0;
  z-index: 999;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
@media (max-width: 540px) {
  .header__overlay.active {
    visibility: visible;
    opacity: 1;
  }
}
.header__sticky {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.header__menu {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: -200dvw;
  left: 0;
  background-color: #ebe9e5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  transition: top 0.5s ease;
  -webkit-box-shadow: 0px 6px 19px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 6px 19px 1px rgba(0, 0, 0, 0.05);
  max-height: 100dvh;
  overflow: scroll;
}
.header__menu .menu__header {
  width: 100%;
  min-height: 88px;
  padding: 16px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 540px) {
  .header__menu .menu__header {
    padding: 16px;
    padding-bottom: 0;
    min-height: 32px;
    height: 32px;
  }
}
.header__menu .menu__logo img {
  min-width: 198px;
  width: 198px;
  height: 24px;
}
@media (max-width: 540px) {
  .header__menu .menu__logo img {
    min-width: 133px;
    width: 133px;
    height: 16px;
  }
}
.header__menu .menu__close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  flex-direction: column;
  position: relative;
  height: 24px;
  background-color: transparent;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
}
@media (max-width: 1324px) {
  .header__menu .menu__close {
    display: flex;
  }
}
@media (max-width: 540px) {
  .header__menu .menu__close {
    height: 12px;
  }
}
.header__menu .menu__close span {
  width: 32px;
  height: 2px;
  background-color: #544945;
  position: relative;
  transition: all 0.5s ease;
}
.header__menu .menu__close span:first-child {
  top: 11px;
  transform: rotate(45deg);
}
.header__menu .menu__close span:nth-child(2) {
  display: none;
}
.header__menu .menu__close span:last-child {
  bottom: 11px;
  transform: rotate(-45deg);
}
@media (max-width: 540px) {
  .header__menu .menu__close span {
    width: 18px;
  }
  .header__menu .menu__close span:first-child {
    top: 5px;
  }
  .header__menu .menu__close span:last-child {
    bottom: 5px;
  }
}
.header__menu .menu__close.burger-open span:first-child {
  top: 0;
  transform: rotate(0deg);
}
.header__menu .menu__close.burger-open span:nth-child(2) {
  display: block;
}
.header__menu .menu__close.burger-open span:last-child {
  bottom: 0;
  transform: rotate(0deg);
}
.header__menu .menu__content {
  transition: top 0.5s ease;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0 40px 24px;
}
@media (max-width: 540px) {
  .header__menu .menu__content {
    padding: 0 16px 24px;
  }
}
.header__menu .menu__nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.header__menu #burger-menu-1-level {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  transition: all 0.5s ease;
}
.header__menu #burger-menu-1-level .menu__nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  color: #544945;
  width: fit-content;
}
@media (max-width: 540px) {
  .header__menu #burger-menu-1-level .menu__nav ul {
    width: 100%;
  }
}
.header__menu #burger-menu-1-level .menu__nav ul li {
  border-bottom: 1px solid #c0bbb5;
  width: 100%;
}
.header__menu #burger-menu-1-level .menu__nav ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 16px;
  width: 250px;
}
@media (max-width: 540px) {
  .header__menu #burger-menu-1-level .menu__nav ul li a {
    width: 100%;
  }
}
.header__menu #burger-menu-1-level .menu__contacts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}
.header__menu #burger-menu-1-level .menu__contacts-base {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}
.header__menu #burger-menu-1-level .menu__contacts-base a {
  color: #8d8580;
  font-size: 16px;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone {
  position: relative;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone summary {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
  gap: 8px;
  color: #544945;
  font-size: 16px;
  font-weight: 600;
  text-wrap: nowrap;
  list-style: none;
  cursor: pointer;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone summary ::-webkit-details-marker {
  display: none;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone:open .arrow {
  transform: rotate(270deg);
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone:open .header__contacts-list {
  display: block;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone .arrow {
  transform: rotate(90deg);
  transition: all 0.5s ease;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone .header__contacts-list {
  display: none;
  position: static;
  padding-top: 8px;
  cursor: default;
  transition: all 0.5s ease;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone .header__contacts-list ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
  padding: 6px;
  background-color: #e2dfd9;
  border: none;
  border-radius: 24px;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone .header__contacts-list ul li {
  transition: all 0.5s ease;
  padding: 12px 16px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  border-bottom: 1px solid #c0bbb5;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone .header__contacts-list ul li:last-child {
  border-bottom: none;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone .header__contacts-list ul a {
  color: #544945;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone .header__contacts-list ul p {
  text-wrap: nowrap;
  color: #8d8580;
  font-size: 14px;
}
.header__menu #burger-menu-1-level .menu__contacts .menu__phone .header__contacts-list ul .contacts__social-list a {
  background-color: #544945;
}
.header__menu #burger-menu-2-level {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  transition: all 0.5s ease;
}
.header__menu #burger-menu-2-level .menu__nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  color: #544945;
  width: fit-content;
}
@media (max-width: 540px) {
  .header__menu #burger-menu-2-level .menu__nav ul {
    width: 100%;
  }
}
.header__menu #burger-menu-2-level .menu__nav ul li {
  border-bottom: 1px solid #c0bbb5;
  width: 100%;
}
.header__menu #burger-menu-2-level .menu__nav ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 16px;
  width: 250px;
}
@media (max-width: 540px) {
  .header__menu #burger-menu-2-level .menu__nav ul li a {
    width: 100%;
  }
}
.header__menu #burger-menu-2-level .menu__nav ul li:last-child {
  border-bottom: none;
}
.header__menu #burger-menu-2-level .menu__nav .menu__nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  cursor: pointer;
  width: 100%;
}
.header__menu #burger-menu-2-level .menu__nav .menu__nav-title img {
  transform: rotate(180deg);
}
.header__menu #burger-menu-2-level .menu__nav .menu__nav-title h3 {
  text-transform: uppercase;
  font-size: 24px;
  color: #544945;
}
.header__menu .arrow {
  height: 14px;
  width: 8px;
}

.menu__open {
  top: 0;
}

.level-1-active#burger-menu-1-level {
  display: flex;
}
.level-1-active#burger-menu-2-level {
  display: none;
}
@media (max-width: 540px) {
  .level-1-active#burger-menu-1-level {
    flex-grow: 1;
  }
  .level-1-active#burger-menu-2-level {
    flex-grow: 0;
  }
}

.level-2-active#burger-menu-1-level {
  display: flex;
}
.level-2-active#burger-menu-2-level {
  display: flex;
}
@media (max-width: 540px) {
  .level-2-active#burger-menu-1-level {
    display: none;
    flex-grow: 0;
  }
  .level-2-active#burger-menu-2-level {
    flex-grow: 1;
  }
}

.form-cost {
  background-color: #544945;
  padding: 0 0 48px;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #e2dfd9;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0;
  border-bottom: 1px solid rgba(232, 222, 203, 0.2);
}
@media (max-width: 770px) {
  .form-cost {
    padding-bottom: 28px;
  }
}
.form-cost .container {
  width: 100%;
}
.form-cost__content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: stretch;
  gap: 50px;
}
@media (max-width: 1150px) {
  .form-cost__content {
    flex-direction: column;
  }
}
@media (max-width: 770px) {
  .form-cost__content {
    gap: 20px;
  }
}
.form-cost .form-cost__text,
.form-cost .form-cost__form {
  padding-top: 60px;
  padding-bottom: 12px;
}
@media (max-width: 770px) {
  .form-cost .form-cost__text,
  .form-cost .form-cost__form {
    padding-top: 28px;
    padding-bottom: 0;
  }
}
.form-cost .form-cost__text {
  max-width: 408px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 1150px) {
  .form-cost .form-cost__text {
    gap: 40px;
  }
}
@media (max-width: 540px) {
  .form-cost .form-cost__text {
    gap: 12px;
  }
}
.form-cost .form-cost__text h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -3%;
}
@media (max-width: 770px) {
  .form-cost .form-cost__text h2 {
    font-size: 28px;
  }
}
.form-cost .form-cost__text p {
  font-size: 16px;
  color: rgba(226, 223, 217, 0.7);
  max-width: 311px;
}
@media (max-width: 770px) {
  .form-cost .form-cost__text p {
    font-size: 14px;
  }
}
.form-cost .form-cost__form {
  padding-left: 50px;
  border-left: 1px solid rgba(232, 222, 203, 0.2);
}
@media (max-width: 540px) {
  .form-cost .form-cost__form {
    padding-top: 22px;
  }
}
@media (max-width: 1150px) {
  .form-cost .form-cost__form {
    border-top: 1px solid rgba(232, 222, 203, 0.2);
    border-left: none;
    padding-left: 0;
  }
}
.form-cost .form-cost__form form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 540px) {
  .form-cost .form-cost__form form {
    gap: 28px;
  }
}
.form-cost .form-cost__form fieldset h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -3%;
}
@media (max-width: 770px) {
  .form-cost .form-cost__form fieldset h6 {
    font-size: 16px;
  }
}
.form-cost__types {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 29px;
}
.form-cost__radio {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 540px) {
  .form-cost__radio {
    gap: 12px;
  }
}
.form-cost__radio ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
@media (max-width: 540px) {
  .form-cost__radio ul {
    gap: 6px;
  }
}
.form-cost__radio ul li {
  padding: 12px 16px;
  border: 1px solid rgba(232, 222, 203, 0.2);
  border-radius: 999px;
  cursor: pointer;
  letter-spacing: -2%;
}
@media (max-width: 540px) {
  .form-cost__radio ul li {
    padding: 7px 13px;
  }
}
.form-cost__radio ul li.checked {
  background-color: #e2dfd9;
}
.form-cost__radio ul li.checked label {
  color: #45544d;
}
.form-cost__radio ul label {
  font-size: 16px;
  color: rgba(226, 223, 217, 0.7);
  cursor: pointer;
}
@media (max-width: 770px) {
  .form-cost__radio ul label {
    font-size: 14px;
  }
}
.form-cost__radio ul input {
  display: none;
}
.form-cost__contacts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 770px) {
  .form-cost__contacts {
    gap: 16px;
  }
}
@media (max-width: 540px) {
  .form-cost__contacts {
    width: 100%;
  }
}
.form-cost__contacts ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}
@media (max-width: 540px) {
  .form-cost__contacts ul {
    flex-direction: column;
  }
}
.form-cost__contacts li {
  padding: 10px 0;
  width: 340px;
  border-bottom: 1px solid rgba(232, 222, 203, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}
@media (max-width: 540px) {
  .form-cost__contacts li {
    width: 100%;
    gap: 2px;
    padding: 6px 0;
  }
}
.form-cost__contacts li label {
  font-size: 14px;
  color: rgba(226, 223, 217, 0.7);
}
@media (max-width: 770px) {
  .form-cost__contacts li label {
    font-size: 12px;
  }
}
.form-cost__contacts li input {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 100%;
  color: #e2dfd9;
  font-size: 16px;
}
@media (max-width: 770px) {
  .form-cost__contacts li input {
    font-size: 14px;
  }
}
.form-cost__contacts li input::placeholder {
  color: #e2dfd9;
  font-size: 16px;
}
@media (max-width: 770px) {
  .form-cost__contacts li input::placeholder {
    font-size: 14px;
  }
}
.form-cost__contacts li input:focus-visible {
  border: none;
  outline: none;
}
.form-cost__submit {
  color: #45544d;
}
@media (max-width: 540px) {
  .form-cost__submit {
    width: 100%;
    padding: 17px;
    letter-spacing: -2%;
  }
}
.form-cost__submit-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}
@media (max-width: 770px) {
  .form-cost__submit-box {
    gap: 28px;
  }
}
@media (max-width: 540px) {
  .form-cost__submit-box {
    flex-direction: column;
  }
}
.form-cost__pd-policy {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: rgba(226, 223, 217, 0.7);
}
@media (max-width: 770px) {
  .form-cost__pd-policy {
    font-size: 12px;
  }
}
@media (max-width: 540px) {
  .form-cost__pd-policy {
    align-self: flex-start;
  }
}
.form-cost__pd-policy label {
  max-width: 580px;
}
@media (max-width: 770px) {
  .form-cost__pd-policy label {
    max-width: 280px;
    line-height: 1.25;
  }
}

.footer {
  min-width: 100%;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0;
}
.footer__main {
  background-color: #544945;
  color: rgba(226, 223, 217, 0.7);
  font-size: 16px;
  padding: 60px 0 54px;
}
@media (max-width: 770px) {
  .footer__main {
    padding: 28px 0;
    font-size: 14px;
  }
}
.footer__main .footer__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
@media (max-width: 770px) {
  .footer__main .footer__content {
    flex-direction: column;
    gap: 20px;
  }
}
.footer__main .footer__content .footer__info,
.footer__main .footer__content .footer__catalog,
.footer__main .footer__content .footer__company {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.footer__main .footer__content .footer__info h6,
.footer__main .footer__content .footer__catalog h6,
.footer__main .footer__content .footer__company h6 {
  color: #e2dfd9;
  font-size: 20px;
}
@media (max-width: 770px) {
  .footer__main .footer__content .footer__info h6,
  .footer__main .footer__content .footer__catalog h6,
  .footer__main .footer__content .footer__company h6 {
    font-size: 16px;
  }
}
.footer__main .footer__content .footer__info {
  width: fit-content;
  gap: 32px;
  margin-right: 112px;
}
@media (max-width: 940px) {
  .footer__main .footer__content .footer__info {
    margin-right: 48px;
  }
}
@media (max-width: 770px) {
  .footer__main .footer__content .footer__info {
    margin-right: 0;
    gap: 24px;
    position: relative;
  }
}
.footer__main .footer__content .footer__info .footer__logo {
  position: relative;
  top: -2px;
}
.footer__main .footer__content .footer__info .footer__logo img {
  min-width: 198px;
  width: 198px;
  height: 24px;
}
.footer__main .footer__content .footer__info .footer__contacts {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 770px) {
  .footer__main .footer__content .footer__info .footer__contacts {
    gap: 6px;
  }
}
.footer__main .footer__content .footer__info .footer__address {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
}
@media (max-width: 770px) {
  .footer__main .footer__content .footer__info .footer__address {
    gap: 4px;
  }
}
.footer__main .footer__content .footer__info .footer__address address {
  color: #e2dfd9;
  font-style: normal;
}
@media (max-width: 650px) {
  .footer__main .footer__content .footer__info .footer__socials {
    gap: 10px;
  }
  .footer__main .footer__content .footer__info .footer__socials a {
    width: 44px;
    height: 44px;
  }
}
.footer__main .footer__content .footer__catalog,
.footer__main .footer__content .footer__company {
  gap: 18px;
}
@media (max-width: 770px) {
  .footer__main .footer__content .footer__catalog,
  .footer__main .footer__content .footer__company {
    gap: 14px;
  }
  .footer__main .footer__content .footer__catalog ul,
  .footer__main .footer__content .footer__company ul {
    gap: 6px;
  }
}
.footer__main .footer__content .footer__catalog ul,
.footer__main .footer__content .footer__company ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 650px) {
  .footer__main .footer__content .footer__catalog ul,
  .footer__main .footer__content .footer__company ul {
    gap: 4px;
  }
}
.footer__main .footer__content .footer__catalog {
  text-wrap: nowrap;
  margin-right: 62px;
}
@media (max-width: 940px) {
  .footer__main .footer__content .footer__catalog {
    margin-right: 0;
    text-wrap: wrap;
  }
}
@media (max-width: 770px) {
  .footer__main .footer__content .footer__catalog {
    margin-bottom: 8px;
  }
}
.footer__bottom {
  background-color: #4A3F3B;
  color: #8d8580;
  font-size: 16px;
  padding: 16px 0;
}
@media (max-width: 650px) {
  .footer__bottom {
    font-size: 14px;
  }
}
.footer__bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 6px;
}
.footer__bottom ul li:first-child {
  flex-grow: 1;
}
@media (max-width: 650px) {
  .footer__bottom ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
}

.container {
  padding: 0 40px;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 540px) {
  .container {
    padding: 0 16px;
  }
}

.hero {
  padding: 88px 0 46px;
  min-height: 700px;
  background: url("../assets/image/hero/hero-bg-desktop.webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #e2dfd9;
}
@media (max-width: 650px) {
  .hero {
    background: url("../assets/image/hero/hero-bg-mobile.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 52px 0 18px;
    min-height: 0;
    height: 133dvw;
  }
}
@media (max-width: 540px) {
  .hero {
    padding: 52px 0 18px;
  }
}
.hero .container {
  height: 566px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 650px) {
  .hero .container {
    height: calc(133dvw - 88px - 46px);
  }
}
@media (max-width: 540px) {
  .hero .container {
    height: calc(133dvw - 68px - 18px);
  }
}
.hero .hero__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
}
@media (max-width: 650px) {
  .hero .hero__content {
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
}
.hero .hero__text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 650px) {
  .hero .hero__text {
    gap: 10px;
  }
}
.hero .hero__text h1 {
  font-size: 56px;
}
@media (max-width: 770px) {
  .hero .hero__text h1 {
    font-size: 32px;
  }
}
.hero .hero__text p {
  font-size: 16px;
  max-width: 472px;
}
@media (max-width: 770px) {
  .hero .hero__text p {
    max-width: 350px;
  }
}
@media (max-width: 540px) {
  .hero .hero__text p {
    max-width: 272px;
    font-size: 14px;
  }
}
.hero .hero__sticker {
  padding: 20px;
  border-radius: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  z-index: 0;
  isolation: isolate;
  position: relative;
}
.hero .hero__sticker:before {
  content: "";
  position: absolute;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  background-color: rgba(232, 222, 203, 0.05);
  border-radius: 24px;
  box-shadow: inset 0 0 0 1px rgba(232, 222, 203, 0.2);
  z-index: 0;
  inset: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 650px) {
  .hero .hero__sticker {
    padding: 16px;
    gap: 10px;
  }
}
.hero .hero__sticker .hero__sticker-icon {
  align-self: flex-end;
  padding: 7px;
  position: relative;
  z-index: 1;
}
@media (max-width: 650px) {
  .hero .hero__sticker .hero__sticker-icon {
    align-self: flex-start;
  }
}
.hero .hero__sticker .hero__sticker-icon img {
  width: 12px;
  height: 12px;
}
.hero .hero__sticker p {
  position: relative;
  z-index: 1;
  font-size: 20px;
  max-width: 158px;
  min-width: 158px;
  line-height: 120%;
  letter-spacing: -3%;
}
@media (max-width: 770px) {
  .hero .hero__sticker p {
    font-size: 14px;
    min-width: 141px;
    max-width: 141px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-width: 100%;
  width: 100dvw;
  background-color: #e2dfd9;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

main {
  min-width: 100%;
  width: 100dvw;
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
