@use "./abstracts/mixins" as *;
@use "./abstracts/variables" as *;
@use "./base/reset";
@use "./base/typography";
@use "./layout/container";
@use "./components/socials";
@use "./components/buttons";
@use "./components/custom-checkbox";
@use "./components/custom-radio";
@use "./components/custom-range";
@use "./components/burger-menu";
@use "./sections/form-cost";
@use "./layout/footer";
@use "./components/tabbar";
@use "./sections/cookie-banner";
@use "./sections/feedback-popup";
@use "./sections/success-popup";
@use "./sections/success-order-page";

@use "./pages/home";
@use "./pages/catalog-root-page";
@use "./pages/catalog-category-page";
@use "./pages/delivery-page";
@use "./pages/contacts";
@use "./pages/about";
@use "./pages/product_card";
@use "./pages/search-result-page";
@use "./pages/reviews-page";
@use "./pages/pd-policy-page";
@use "./pages/portfolio-page";
@use "./pages/cart-page";

body {
  @include flex;
  flex-direction: column;
  height: 100dvh;
  min-width: 100%;
  width: 100%;
  background-color: $background;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;

  &.no-scroll {
    overflow-y: hidden;
  }
}

main {
  min-width: 100%;
  width: 100%;
  flex: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(50%);
}