@use "../abstracts/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:not(dialog) {
  margin: 0;
}

dialog {
  opacity: 0;
  transition: all 0.5s ease;

  &[open] {
    opacity: 1;

    &::backdrop {
      opacity: 1;
    }
  }

  &::backdrop {
    opacity: 0;
    background-color: rgba(226, 223, 217, 0.7);
    @include backdrop-24;
  }
}

@starting-style {
  dialog[open], dialog[open]::backdrop {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

fieldset {
  border: none;
  padding-inline: 0;
  padding-block: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  @include text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading;
}

input {
  padding-inline: 0;
  padding-block: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

button {
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

#root,
#__next {
  isolation: isolate;
}
