@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.faq-video {
  padding-bottom: calc($spacing-xxxxl * 2);

  @media (max-width: 770px) {
    padding-bottom: $spacing-xxxl;
  }

  &__content {
    @include flex;
    flex-direction: column;
    gap: $spacing-xxxl;

    @media (max-width: 770px) {
      gap: $spacing-lg;
    }

    h2 {
      @include heading;
      color: $text-color-default;
      font-size: $heading-2-font-size;
      max-width: 670px;

      @media (max-width: 770px) {
        font-size: $heading-2-font-size-mobile;
      }
    }
  }

  &__box {
    aspect-ratio: 136 / 70;
    background-color: $surface;
    border-radius: $radius-xl;

    @media (max-width: 770px) {
      aspect-ratio: 328 / 220;
      border-radius: 28px;
    }
  }
}