@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.reviews {
  min-width: 100%;
  padding: $spacing-none;

  &__content {
    position: relative;
    @include flex-start;
    flex-direction: column;
    gap: $spacing-xxxl;
    color: $text-color-default;

    @media (max-width: 770px) {
      gap: $spacing-md;
    }

    .reviews__title {
      @include flex-start;
      flex-direction: column;
      gap: $spacing-xs;

      @media (max-width: 540px) {
        gap: $spacing-xs-mobile;
      }

      h2 {
        @include heading;
        font-size: $heading-2-font-size;

        @media (max-width: 770px) {
          font-size: $heading-2-font-size-mobile;
        }
      }

      p {
        @include text;
        font-size: $text-md-font-size;
        color: $text-color-medium;

        @media (max-width: 770px) {
          font-size: $text-md-font-size-mobile;
        }
      }
    }
  }

  &__list {
    width: min(100vw, 1440px);
    max-width: none;
    margin: $spacing-none calc(50% - min(50vw, 720px));
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: $spacing-none $spacing-xxxl;
    box-sizing: border-box;
    position: relative;
    @include flex-start;
    align-items: stretch;
    gap: $spacing-md;
    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 770px) {
      padding-bottom: $spacing-md;
    }

    @media (max-width: 540px) {
      padding: $spacing-none $spacing-sm;
      gap: $spacing-sm;
    }
  }

  &__item {
    border: 1px solid $borders;
    border-radius: $radius-xl;
    min-width: 670px;
    width: 670px;
    min-height: 400px;
    height: 400px;
    @include flex-start;
    flex-direction: column;
    gap: $spacing-lg;
    padding: $spacing-xxxl;
    scroll-snap-align: center;

    @media (max-width: 770px) {
      min-width: 100%;
      width: 100%;
      gap: $spacing-lg-mobile;
    }

    @media (max-width: 540px) {
      padding: $spacing-xxxl-mobile;
    }

    &-header {
      @include flex-start;
      align-items: center;
      gap: $spacing-none;
    }

    &-avatar {
      @include text;
      font-size: $heading-5-font-size;
      color: $text-color-inverse;
      background-color: $primary;
      border-radius: $radius-max;
      width: 64px;
      height: 64px;
      @include flex-center;

      @media (max-width: 770px) {
        font-size: $heading-5-font-size-mobile;
        width: 54px;
        height: 54px;
      }
    }

    &-name {
      padding: $spacing-xxs $spacing-xs;
      @include flex-start;
      flex-direction: column;
      gap: $spacing-xxxs;

      @media (max-width: 770px) {
        padding: $spacing-xxs $spacing-xs-mobile;
        gap: $spacing-xxxxs;
      }

      h6 {
        font-size: $heading-6-font-size;
        color: $text-color-default;
        @include heading;

        @media (max-width: 770px) {
          font-size: $heading-6-font-size-mobile;
        }
      }

      p {
        font-size: $text-md-font-size;
        color: $text-color-medium;
        @include text;

        @media (max-width: 770px) {
          font-size: $text-md-font-size-mobile;
        }
      }
    }

    &-content {
      flex: 1;
      color: $text-color-default;
      font-size: $text-md-font-size;

      p {
        line-height: 150%;
      }

      @media (max-width: 770px) {
        font-size: $text-md-font-size-mobile;
      }
    }

    &-link {
      height: 42px;
      width: 195px;
      background-color: $surface;
      border-radius: $radius-max;
      @include flex-center;
      gap: $spacing-xs-mobile;
      padding: 11px $spacing-sm;
      @include text;
      color: $text-color-default;
      font-size: $text-button-font-size;
      text-wrap: nowrap;

      @media (max-width: 770px) {
        height: 36px;
        width: 171px;
        padding: 7px 15px;
        font-size: $text-button-font-size-mobile;
        gap: 7px;
      }

      img {
        object-fit: contain;
      }
    }
  }

  &__carousel-btn {
    position: absolute;
    @include flex-between;
    width: 100%;
    top: 56%;

    @media (max-width: 770px) {
      display: none;
    }

    button {
      width: calc($spacing-xxxl + $spacing-sm-mobile);
      height: calc($spacing-xxxl + $spacing-sm-mobile);
      @include flex-center;
      border: none;
      border-radius: $radius-max;
      background-color: $surface;
      opacity: 0.7;
      cursor: pointer;
      @include backdrop-24;

      &:disabled {
        visibility: hidden;
        opacity: 0;
      }
    }

    .carousel-button__prev {
      transform: translateX(-50%);

      img {
        transform: rotate(90deg);
      }
    }
    .carousel-button__next {
      transform: translateX(50%);

      img {
        transform: rotate(270deg);
      }
    }
  }

  &__scroll-progress {
    align-self: center;
    display: none;
    gap: $spacing-xxxs;
    width: 60%;

    @media (max-width: 770px) {
      @include flex;
    }

    button {
      flex: 1;
      min-width: $spacing-xxs;
      height: 3px;
      padding: $spacing-none;
      border: $spacing-none;
      border-radius: $radius-max;
      background: $primary-sub;
      cursor: pointer;
      transition: background-color 0.5s ease;

      &.is-active {
        background: $primary;
      }
    }
  }
}
