@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.title {
  width: 100%;
  padding: 118px $spacing-none calc($spacing-xxxl * 1.5);

  @media (max-width: 770px) {
    padding: 104px $spacing-none $spacing-lg;
  }

  @media (max-width: 540px) {
    padding-top: 64px;
  }

  &__content {
    @include flex-start;
    flex-direction: column;
    gap: $spacing-xxxl;

    @media (max-width: 770px) {
      gap: $spacing-xs-mobile;
    }

    h1 {
      @include heading;
      font-size: $heading-1-font-size;
      color: $text-color-default;

      @media (max-width: 770px) {
        font-size: $heading-1-font-size-mobile;
      }
    }
  }

  &__breadcrumbs {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      display: flex;
      align-items: center;
      color: $text-color-low;
      font-size: $text-md-font-size;
      @include text;

      @media (max-width: 770px) {
        font-size: $text-sm-font-size-mobile;
      }
    }

    li + li::before {
      content: "/";
      margin: $spacing-none $spacing-sm-mobile;
      color: currentColor;

      @media (max-width: 770px) {
        margin: $spacing-none $spacing-xs-mobile;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__category-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    border-collapse: collapse;

    @media (max-width: 950px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 770px) {
      margin-top: $spacing-sm;
    }

    li {
      border: 1px solid $borders;

      a {
        @include flex;
        align-items: center;
        justify-content: flex-start;
        gap: $spacing-xs;
        padding-right: $spacing-sm;

        h6 {
          @include heading;
          font-size: $heading-6-font-size;
          line-height: 120%;
          color: $primary;
          text-wrap: wrap;

          @media (max-width: 770px) {
            font-size: $text-md-font-size-mobile;
          }
        }

        span {
          @include text;
          font-size: $text-md-font-size;
          color: $text-color-low;

          @media (max-width: 770px) {
            font-size: $text-md-font-size-mobile;
          }
        }
      }

      .title__category-img {
        @include flex-center;
        width: 130px;
        height: 130px;

        @media (max-width: 1240px) {
          width: 100px;
          height: 100px;
        }

        @media (max-width: 950px) {
          width: 130px;
          height: 130px;
        }

        @media (max-width: 540px) {
          width: 74px;
          height: 74px;
        }

        img {
          height: 100%;
          object-fit: contain;

          @media (max-width: 540px) {
            width: $spacing-xxxl;
          }
        }
      }
    }
  }

  &__filter {
    width: 100%;
    @include flex-between;
    gap: $spacing-xxl;
    flex-wrap: wrap-reverse;
    row-gap: $spacing-sm;

    @media (max-width: 770px) {
      margin-top: $spacing-xs-mobile;
    }

    .filter__open-menu {
      display: none;
      background: none;
      border: none;
      color: $primary;
      font-size: $text-md-font-size;
      align-items: center;
      @include text;
      gap: 6px;
      cursor: pointer;

      @media (max-width: 770px) {
        font-size: $text-md-font-size-mobile;
        @include flex;
      }
    }

    li {
      details {
        position: relative;
        width: fit-content;

        summary {
          @include flex;
          align-items: center;
          justify-content: flex-end;
          gap: $spacing-xs-mobile;
          cursor: pointer;
          color: $primary;
          font-size: $text-md-font-size;
        }

        &:open {
          .title__filter-img {
            transform: rotate(180deg);
          }
        }
      }

      .filter,
      .sort {
        position: absolute;
        z-index: 1;
        background: $background;
        top: $spacing-xxl;
        padding: $spacing-md;
        border-radius: $radius-lg;
        width: max-content;
        -webkit-box-shadow: 0px 1px 3px 0px $primary;
        box-shadow: 0px 1px 3px 0px $primary;
        @include flex-start;
        flex-direction: column;
        gap: $spacing-xs;

        button[data-btn="clear-filter"], button[data-btn="clear-range"], button[data-btn="clear-sort"] {
          border: none;
          background: none;
          color: $text-color-low;
          font-size: $text-md-font-size;
        }
      }

      .filter {
        left: 0;

        fieldset {
          @include flex;
          align-items: center;
          gap: $spacing-xs;
          color: $primary;
          font-size: $text-md-font-size;
        }
      }

      .sort {
        right: 0;
      }

      .title__filter-img {
        width: $spacing-lg;
        height: $spacing-lg;
        @include flex-center;
        transition: all 0.5s ease;
      }

      .custom-range {
        width: 285px;
        @include flex-start;
        flex-direction: column;
        gap: 54px;

        .custom-range-diapason {
          width: 100%;
          @include flex;
          justify-content: stretch;
          align-items: stretch;
          gap: $spacing-sm;

          p {
            @include text;
            @include flex-center;
            gap: 6px;
            text-wrap: nowrap;
            width: 100%;
            color: $text-color-low;
            font-size: $text-sm-font-size;
            background-color: $surface;
            border-radius: $radius-max;
            padding: 22px $spacing-none;

            span {
              color: $text-color-default;
              font-size: $text-md-font-size;
            }
          }
        }
      }

      @media (max-width: 770px) {
        font-size: $text-md-font-size-mobile;
        gap: 6px;
      }
    }

    [data-filter="sort"] {
      margin-left: auto;
      @include flex;
      justify-content: flex-end;
    }

    @media (max-width: 770px) {
      li:not([data-filter="sort"]) {
        display: none;
      }
    }
  }
}
