@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.header__menu {
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: -200dvh;
  left: 0;
  background-color: $surface;
  @include flex-start;
  flex-direction: column;
  gap: $spacing-md;
  transition: top 0.5s ease;
  -webkit-box-shadow: 0px 6px 19px 1px $black-5;
  box-shadow: 0px 6px 19px 1px $black-5;
  max-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;

  .menu__header {
    width: 100%;
    min-height: 88px;
    padding: $spacing-sm $spacing-xxxl $spacing-none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 540px) {
      padding: $spacing-md-mobile;
      padding-bottom: $spacing-none;
      min-height: 32px;
      height: 32px;
    }
  }

  .menu__logo {
    img {
      min-width: 198px;
      width: 198px;
      height: 24px;

      @media (max-width: 540px) {
        min-width: 133px;
        width: 133px;
        height: 16px;
      }
    }
  }

  .menu__close {
    @include flex-between;
    display: none;
    flex-direction: column;
    position: relative;
    height: $spacing-lg;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;

    @media (max-width: 1324px) {
      display: flex;
    }

    @media (max-width: 540px) {
      height: $spacing-xs;
    }

    span {
      width: $spacing-xxl;
      height: $spacing-xxxxs;
      background-color: $primary;
      position: relative;
      transition: all 0.5s ease;

      &:first-child {
        top: 11px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:last-child {
        bottom: 11px;
        transform: rotate(-45deg);
      }

      @media (max-width: 540px) {
        width: $spacing-lg-mobile;

        &:first-child {
          top: 5px;
        }
        &:last-child {
          bottom: 5px;
        }
      }
    }
    &.burger-open {
      span {
        &:first-child {
          top: 0;
          transform: rotate(0deg);
        }
        &:nth-child(2) {
          display: block;
        }
        &:last-child {
          bottom: 0;
          transform: rotate(0deg);
        }
      }
    }
  }

  .menu__content {
    transition: top 0.5s ease;
    width: 100%;
    @include flex-start;
    gap: $spacing-lg;
    padding: $spacing-none $spacing-xxxl $spacing-lg;

    @media (max-width: 540px) {
      padding: $spacing-none $spacing-md-mobile $spacing-lg;
    }
  }

  .menu__nav {
    @include flex-start;
    flex-direction: column;
    gap: $spacing-md;
    width: 100%;
  }

  #burger-menu-1-level {
    @include flex-start;
    flex-direction: column;
    gap: $spacing-md;
    transition: all 0.5s ease;

    .menu__nav {
      ul {
        @include flex-start;
        flex-direction: column;
        gap: $spacing-sm;
        font-size: $text-md-font-size;
        color: $text-color-default;
        width: fit-content;

        @media (max-width: 540px) {
          width: 100%;
        }

        li {
          border-bottom: 1px solid $borders;
          width: 100%;

          a {
            @include flex-between;
            flex-direction: row;
            gap: $spacing-md;
            padding-bottom: $spacing-sm;
            width: 250px;
            height: $spacing-xxxl;

            @media (max-width: 540px) {
              width: 100%;
            }
          }

          .toggle-level-menu {
            @include flex-between;
            flex-direction: row;
            gap: $spacing-md;
            padding-bottom: $spacing-sm;
            width: 250px;
            height: $spacing-xxxl;

            @media (max-width: 540px) {
              width: 100%;
            }
          }
        }
      }
    }

    .menu__contacts {
      @include flex-start;
      flex-direction: column;
      gap: $spacing-xxs;

      &-base {
        @include flex-start;
        flex-direction: column;
        gap: calc($spacing-xxxxs + $spacing-xxxs);

        a {
          color: $text-color-medium;
          font-size: $text-md-font-size;
        }
      }

      .menu__phone {
        position: relative;

        summary {
          @include flex-start;
          align-items: center;
          gap: calc($spacing-xs-mobile - $spacing-xxxxs);
          color: $text-color-default;
          font-size: $text-medium-md-font-size;
          font-weight: $text-font-weight-medium;
          text-wrap: nowrap;
          list-style: none;
          cursor: pointer;

          ::-webkit-details-marker {
            display: none;
          }
        }

        &:open {
          .arrow {
            transform: rotate(180deg);
          }

          .header__contacts-list {
            display: block;
          }
        }

        .arrow {
          transition: all 0.5s ease;
        }

        .header__contacts-list {
          display: none;
          position: static;
          padding-top: $spacing-xxs;
          cursor: default;
          transition: all 0.5s ease;

          ul {
            @include flex-start;
            flex-direction: column;
            gap: $spacing-none;
            padding: calc($spacing-xxxs + $spacing-xxxxs);
            background-color: $background;
            border: none;
            border-radius: $radius-lg;

            li {
              transition: all 0.5s ease;
              padding: $spacing-xs $spacing-sm;
              width: 100%;
              @include flex-start;
              justify-content: center;
              flex-direction: column;
              gap: calc($spacing-xxxxs + $spacing-xxxs);
              border-bottom: 1px solid $borders;

              &:last-child {
                border-bottom: none;
              }
            }

            a {
              color: $text-color-default;
            }

            p {
              text-wrap: nowrap;
              color: $text-color-medium;
              font-size: $text-sm-font-size;
            }

            .contacts__social-list {
              a {
                background-color: $primary;
              }
            }
          }
        }
      }
    }
  }

  #burger-menu-2-level {
    @include flex-start;
    flex-direction: column;
    gap: $spacing-md;
    transition: all 0.5s ease;

    .menu__nav {
      ul {
        @include flex-start;
        flex-direction: column;
        gap: $spacing-sm;
        font-size: $text-md-font-size;
        color: $text-color-default;
        width: fit-content;

        @media (max-width: 540px) {
          width: 100%;
        }

        li {
          border-bottom: 1px solid $borders;
          width: 100%;

          a {
            @include flex-between;
            flex-direction: row;
            gap: $spacing-md;
            padding-bottom: $spacing-sm;
            width: 250px;

            @media (max-width: 540px) {
              width: 100%;
            }
          }

          &:last-child {
            border-bottom: none;
          }
        }
      }

      .menu__nav-title {
        @include flex-center;
        justify-content: flex-start;
        gap: calc($spacing-xs + $spacing-xxxxs);
        cursor: pointer;
        width: 100%;

        img {
          transform: rotate(90deg);
        }

        h3 {
          text-transform: uppercase;
          font-size: $heading-3-font-size-mobile;
          color: $text-color-default;
        }
      }
    }
  }

  .toggle-level-menu .arrow {
    width: $spacing-sm-mobile;
    height: $spacing-xxs;
    transform: rotate(270deg);
  }
}
.menu__open {
  top: 0;
}
.level-1-active {
  &#burger-menu-1-level {
    display: flex;
  }

  &#burger-menu-2-level {
    display: none;
  }

  @media (max-width: 540px) {
    &#burger-menu-1-level {
      flex-grow: 1;
    }

    &#burger-menu-2-level {
      flex-grow: 0;
    }
  }
}

.level-2-active {
  &#burger-menu-1-level {
    display: flex;
  }

  &#burger-menu-2-level {
    display: flex;
  }

  @media (max-width: 540px) {
    &#burger-menu-1-level {
      display: none;
      flex-grow: 0;
    }

    &#burger-menu-2-level {
      flex-grow: 1;
    }
  }
}
