@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.custom-range {
  position: relative;
  width: 285px;
  @include flex-start;
  flex-direction: column;
  gap: 54px;

  
  & input[type="range"] {
    position: absolute;
    left: 0;
    top: 88.5px;
    transform: translateY(-35%);
    width: 100%;
    background: none;
    pointer-events: none;
    appearance: none;
    z-index: 11;

    &::-webkit-slider-thumb {
      pointer-events: auto;
      appearance: none;
      width: 19px;
      height: 19px;
      border-radius: $radius-max;
      background: $primary;
      cursor: pointer;
    }

    /* Поддержка Firefox */
    &::-moz-range-thumb {
      pointer-events: auto;
      border: none;
      width: 19px;
      height: 19px;
      border-radius: $radius-max;
      background: $primary;
      cursor: pointer;
    }
  }
  .custom-range-track {
    position: absolute;
    left: 0;
    top: 88.5px;
    width: 100%;
    height: 6px;
    background-color: $surface;
    z-index: 10;
  }
}
