@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.filterbar {
  position: absolute;
  z-index: 1300;
  bottom: -50%;
  width: 100%;
  padding: $spacing-lg $spacing-sm;
  background-color: $background;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px -1px 19px 1px $black-5;
  box-shadow: 0px -1px 19px 1px $black-5;
  will-change: transform;
  opacity: 0;
  visibility: hidden;

  &.active {
    bottom: 0;
    opacity: 1;
    visibility: visible;
    position: fixed;
  }

  .container {
    position: relative;
    z-index: 1200;
    padding: $spacing-none;
  }

  .filterbar__content {
    @include flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    gap: $spacing-xl;
  }
  .filterbar__header {
    @include flex-between;

    h2 {
      @include heading;
      font-size: $heading-2-font-size;
      color: $text-color-default;

      @media (max-width: 540px) {
        font-size: $heading-2-font-size-mobile;
      }
    }
  }
  .filterbar__close {
    @include flex-between;
    flex-direction: column;
    position: relative;
    height: $spacing-lg;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
    cursor: pointer;

    @media (max-width: 540px) {
      height: $spacing-xs;
    }

    span {
      width: $spacing-xxl;
      height: $spacing-xxxxs;
      background-color: $primary;
      position: relative;
      transition: all 0.5s ease;

      &:first-child {
        top: 11px;
        transform: rotate(45deg);
      }
      &:last-child {
        bottom: 11px;
        transform: rotate(-45deg);
      }

      @media (max-width: 540px) {
        width: $spacing-lg-mobile;

        &:first-child {
          top: 5px;
        }
        &:last-child {
          bottom: 5px;
        }
      }
    }
  }
  .filterbar__filters {
    @include flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    gap: $spacing-xl;

    fieldset {
      @include flex;
      align-items: stretch;
      justify-content: flex-start;
      gap: $spacing-sm-mobile;
      flex-direction: column;
    }

    legend {
      color: $text-color-default;
      font-size: $heading-6-font-size-mobile;
    }

    ul {
      @include flex-start;
      gap: calc($spacing-xxxxs + $spacing-xxxs);

      li {
        border: 1px solid $borders;
        border-radius: $radius-max;
        cursor: pointer;
        letter-spacing: -2%;

        &:has(input:checked) {
          background-color: $primary;
          border: none;

          label {
            color: $text-color-inverse;
          }
        }
      }

      label {
        text-align: center;
        min-width: 54px;
        width: 100%;
        height: 100%;
        padding: 9px $spacing-sm;
        color: $primary;
        font-size: $text-md-font-size-mobile;
        cursor: pointer;
        display: block;
      }

      input {
        position: absolute;
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__actions {
    @include flex;
    align-items: stretch;
    justify-content: flex-start;
    gap: $spacing-sm-mobile;
    flex-direction: column;
  }

  .custom-range {
    width: 100%;
    @include flex-start;
    flex-direction: column;
    gap: $spacing-xxxxl;
    margin-top: 6px;
    margin-bottom: 34px;

    .custom-range-diapason {
      width: 100%;
      @include flex;
      justify-content: stretch;
      align-items: stretch;
      gap: $spacing-sm;

      p {
        @include text;
        @include flex-center;
        gap: 6px;
        text-wrap: nowrap;
        width: 100%;
        color: $text-color-low;
        font-size: $text-sm-font-size;
        background-color: $surface;
        border-radius: $radius-max;
        padding: 22px $spacing-none;

        span {
          color: $text-color-default;
          font-size: $text-md-font-size;
        }
      }
    }
  }

  @media (max-width: 540px) {
    .btn {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  .btn-light {
    background-color: $surface;
  }
}
